*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    position:relative;
}

header{
    height: 150px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/wall.png);
}
main{
    background-image: url(../img/cork.png);
    height: calc(100vh - 150px);
    overflow: auto;
}

.overlay{
    position: absolute;
    height: 100vh;
    background-color: rgba(0,0,0,0.6) ;
    z-index: 100;
    top: 0; 
    left: 0; 
    width: 100%;
}

img{
    max-width: 100%;
}

.s-card{
    max-width: 300px;
    padding: 10px ;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, rotate 0.4s ease, scale 0.4s
}
.s-card:hover{
    cursor: pointer;
    transform: rotate(10deg) scale(1.2) ;
}

.s-card .text-section{
    height: 80px;
}

.pin{
    position:absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
}
/*FONT*/
.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;;
  }
.bebas-neue-italic {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:5rem;
  }
  